@font-face {
    font-family: 'Roboto Regular', sans-serif;
    src: url('../fonts/Roboto-Regular.woff');
}

/* General: properties should be ordered. F.e., read this: http://codeguide.co/#css-declaration-order */

html {
    height: 100%;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

/* Review: it's not a good idea to use ids for styling */
#game-area {
    display: flex;
    justify-content: center;
}

.game-child {
    margin: 10px;
    display: block;
}

.game-child-cell {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: white;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.game-child-row:first-child .game-child-cell {
    border-top: 1px solid black;
}

.game-child-cell:first-child {
    border-left: 1px solid black;
}

.button-center, .hello-message, .score-table {
    text-align: center;
}

.wrapper-game, .wrapper-result {
    display: none;
}

.title-page {
    font-size: 5rem;
}

button.bttn {
    display: inline-flex;
    min-width: 100px;
    min-height: 50px;
    color: black;
    background-color: aqua;
    cursor: pointer;
    text-align: center;
    border: none;
    border-radius: 2px;
    height: 36px;
    line-height: 36px;
    padding: 0 2rem;
    text-transform: uppercase;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    
}

[data-game="food-cell"] {
    background-color: green;
}

[data-game="snake-cell"] {
    background-color: blue;
}
